:root {
    --background-color: rgba(22, 22, 22, 1);
    --sidebar-bg-color: rgba(32, 32, 32, 1);
    --text-color: rgba(220, 220, 220, 1);
    --link-color: rgb(216, 216, 72);
    --link-hover-color: rgba(255, 165, 0, 1);
    --btn-bg-color: rgba(255, 165, 0, 1);
    --btn-hover-bg-color: rgba(255, 69, 0, 1);
    --h1-color: rgb(13, 131, 86);
    --highlight-color: #05213f;
    
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    
}
a{
    color: var(--link-color);
}
a:hover{
    color: var(--link-hover-color);
}
.sidebar {
    background-color: var(--sidebar-bg-color);
    
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(112, 128, 182, 0.8);
    z-index: 1000;
    width: 300px;
}

.main-content {
    margin-left: 300px;
    margin-top: 0px;
    padding: 10px;
}

.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #007bff;
}

.nav-link {
    color: var(--text-color);
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--link-hover-color);
}

.nav-dots {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.nav-dots ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-dots li {
    margin-bottom: 10px;
}

.nav-dots .dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--text-color);
    transition: background-color 0.3s ease;
}

.nav-dots .dot:hover {
    background-color: var(--link-hover-color);
}

.nav-dots .dot.active {
    background-color: var(--btn-hover-bg-color);
}

.home-section {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.static-content {
    height: 70%;
    margin-top: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.static-content-inner {
    text-align: center;
    max-width: 80%;
}

.static-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(57, 52, 60, 0.8);
    color: var(--h1-color);
}
.professional-experience h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--btn-bg-color);
    border-bottom: 1px dashed var(--btn-bg-color);
    padding-bottom: 0.5rem;
    text-align: center;
}

#blog {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.featured-blog {
    background-color: var(--sidebar-bg-color);
    height: 70%;
    border-radius: 10px;
    margin-bottom: 3rem !important;
    transition: background-color 0.3s ease;
}

.featured-blog .card {
    background-color: transparent;
}

.featured-blog .card-title,
.featured-blog .card-text {
    color: var(--text-color);
}

.featured-blog .text-primary {
    color: var(--link-color) !important;
}

.featured-blog .text-primary:hover {
    color: var(--link-hover-color) !important;
}

.blog-content {
    background-color: var(--sidebar-bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 20px;
    border-radius: 5px;
    height: 100%;

}



.blog-content h2 {
    color: var(--text-color);
}

.btn-custom {
    background-color: var(--btn-bg-color);
    color: var(--background-color);
}

.btn-custom:hover {
    background-color: var(--btn-hover-bg-color);
    color: var(--background-color);
}

/* Ensure carousel arrows are visible in both themes */
.carousel-arrow {
    background-color: var(--btn-bg-color);
    color: var(--background-color);
}

.carousel-arrow:hover {
    background-color: var(--btn-hover-bg-color);
}

.blog-carousel {
    overflow: hidden;
    position: relative;
}

.blog-container {
    display: flex;
    transition: transform 0.3s ease;
}

.blog-item {
    flex: 0 0 33.333%;
    padding: 0 15px;
    transition: opacity 0.3s ease;
}


.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
}

.carousel-arrow.prev {
    left: 0;
}

.carousel-arrow.next {
    right: 0;
}

.blog-item.active .blog-content {
    background-color: var(--highlight-color);
}

.btn-custom {
    background-color: var(--btn-bg-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: var(--btn-hover-bg-color);
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

section.active {
    opacity: 1;
}

/* Theme Switch Styles */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 20px;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Moon icon */
.slider .moon-icon {
    position: absolute;
    left: 8px;
    top: 6px;
    width: 20px;
    height: 20px;
    fill: #ffffff;
    transition: .4s;
}

input:checked + .slider .moon-icon {
    fill: #2196F3;
    transform: translateX(26px);
}

/* Contact Form */
#contact {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#contact h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    
}

#contact-form label {
    margin-bottom: 5px;
    color: #555;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

#contact-form textarea {
    height: 150px;
    resize: vertical;
}

#contact-form button {
    background-color: var(--background-color);
    color: var(--btn-bg-color);
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#contact-form button:hover {
    background-color: var(--btn-hover-bg-color);
}

/* About Section */
#about {
    min-height: 100vh;
    padding: 2rem 2rem;
    background-color: var(--background-color);
    color: var(--text-color);
}

.about-container {
    display: flex;
    gap: 4rem;
    margin: 0 auto;
    align-items: flex-start; /* Align items to the top for better alignment */
    justify-content: center;
}

.about-column-left {
    flex: 1 1 55%; /* Flex basis of xx% */
    max-width: 60%; /* Ensures it does not exceed xx% */
}

.about-column-right {
    flex: 1 1 45%; /* Flex basis of xx% */
    max-width: 60%; /* Ensures it does not exceed xx% */
}

/* Portfolio Section */
.portfolio-carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.portfolio-container {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
}

.portfolio-item {
    flex: 0 0 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-item.active {
    opacity: 1;
 
}

.portfolio-content {
    text-align: center;
    max-width: 60%;
}

.portfolio-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 3rem;
}

.portfolio-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--background-color);
    color: var(--text-color);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 10;
}

.portfolio-arrow.prev {
    left: 10px;
}

.portfolio-arrow.next {
    right: 10px;
}

.portfolio-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.portfolio-indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--text-color);
    cursor: pointer;
}

.portfolio-indicator.active {
    background: var(--btn-hover-bg-color);
}

.introduction h2,
.education h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--btn-bg-color);
    border-bottom: 2px solid var(--btn-bg-color);
    padding-bottom: 0.5rem;
    text-align: center;
}

.introduction p,
.education li,
.publications li,
.professional-experience li {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.education ul,
.publications ul,
.professional-experience ul {
    list-style-type: none;
    padding-left: 0;
}

.education li,
.publications li,
.professional-experience li {
    position: relative;
    padding-left: 1.5rem;
}

.education li:before,
.publications li:before,
.professional-experience li:before {
    content: "•";
    position: absolute;
    left: 0;
    color: var(--btn-bg-color);
}

.professional-experience h3 {
    font-size: 1.4rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--btn-bg-color);
}

/* Publications Section */
#publications {
    min-height: 100vh;
    padding: 2rem;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
}

.publications h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--btn-bg-color);
    border-bottom: 2px solid var(--btn-bg-color);
    padding-bottom: 0.5rem;
}

.publications-column-left {
    flex: 1 1 15%;
    max-width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.publications-column-right {
    flex: 1 1 65%;
    max-width: 65%;
    padding-left: 40px;
}

#publication-preview-container {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
}

#publication-preview {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

#publication-list {
    list-style-type: none;
    padding: 0;
}

#publication-list li {
    cursor: pointer;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#publication-list li:hover {
    background-color: var(--sidebar-bg-color);
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .main-content {
        margin-left: 0;
    }
    .blog-content {
        width: 80%;
    }
    .blog-content h1 {
        font-size: 2rem;
    }
    .nav-dots {
        right: 10px;
    }
    .about-container {
        flex-direction: column;
    }

    .about-column {
        flex: 1 1 100%;
    }
    #publications {
        flex-direction: column;
    }
    
    .publications-column-left,
    .publications-column-right {
        flex: 1 1 100%;
        max-width: 100%;
        padding-left: 0;
    }
    
    #publication-preview-container {
        height: 50vh;
        margin-bottom: 2rem;
    }
}



/* Dark Theme */
body.dark {
    --background-color: rgba(22, 22, 22, 1);
    --sidebar-bg-color: rgba(32, 32, 32, 1);
    --text-color: rgba(220, 220, 220, 1);
    --link-color: rgb(216, 216, 72);
    --link-hover-color: rgba(255, 165, 0, 1);
    --btn-bg-color: rgba(255, 165, 0, 1);
    --btn-hover-bg-color: rgba(255, 69, 0, 1);
    --h1-color: rgb(13, 131, 86);
    --highlight-color: #05213f;
}

/* Light Theme */
body.light {
    --background-color: rgba(255, 255, 255, 1);
    --sidebar-bg-color: rgba(240, 240, 240, 1);
    --text-color: rgba(0, 0, 0, 0.9);
    --link-color: rgba(26, 11, 138, 0.949);
    --link-hover-color: #0056b3;
    --btn-bg-color: rgba(134, 173, 144, 0.9);
    --btn-hover-bg-color: #0056b3;
    --h1-color: rgb(61, 41, 42);
    --highlight-color: #c3e6cf;
}
